extends layout
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.js")
	script(src="https://cdn.webrtc-experiment.com/RecordRTC.js")
	script(src='/js/controllers/lib/adapter.js')
	script(src='/js/controllers/Opus.js')
	script(src='/js/controllers/get_media_functions.js')
	script.
		username = "#{user.fname}"
		email = "#{user.email}"
		admin = "#{user.admin}"
block content
	.container-fluid
		h1
			center Welcome #{user.fname}!
		.row
			.col-sm-3.col-sm-push-9
				#mediaPage(style="display: none")
					#contactInfo(style="float:right")
						p#contactHeading.textStyle(align="right")
						strong Online Contacts
						p#contacts(align="right") no contacts
			.col-sm-3.col-sm-pull-3
				button.btn.btn-success.btn-block#startCallModeButton(style = "display:block" type="button", onclick="startCallMode()")
					span.fa.fa-phone
					|  Start session
				button.btn.btn-danger.btn-block#stopCallModeButton(style = "display: none" type="button", onclick="goTo(\"\/home\")")
					span.fa.fa-stop
					|  Stop session
	//button.btn.btn-lg.btn-primary.btn-add-panel Add new panel
	br
	.container-fluid#mediaPage2(style="display: none")
		.row#media
			.col-sm-3#panels0.template
				.panel.panel-success
					.panel-heading
						h3.panel-title.text-center #{user.fname}
					.panel-body
						.row.embed-responsive.embed-responsive-4by3.locVid
							video.embed-responsive-item#localVideo( autoplay="true", muted="true", style="display: none")

						br
						.row#recordingControl(style = "display: none")
							.col-sm-12
								button.btn.btn-success.btn-block#recordAudio(type="button")
									span.fa.fa-video-camera
									|  Start Recording
								button.btn.btn-warning.btn-block#stop-recording-audio(disabled="" type="button" style = "display: none")
									span.fa.fa-stop
									|  Stop Recording
								button.btn.btn-info.btn-block#mix-recordings(disabled="" type="button" style = "display: none")
									span.fa.fa-file-audio-o
									|  Mix Recordings
						.row#callControls(style = "display: none")
							.col-sm-12
								#callerDisplay.textStyle(style="display: none")
									p#callerName(align="center") no caller&#62;
									p#calling(align="center") calling
									audio#ringingSound(src="ringing_sound.mp3", type="audio/mpeg")
							.col-sm-12
								#calleeDisplay.textStyle(style="display: none")
									p#calleeName no callee
										| calling...
							.col-sm-12
								#acceptButtons(style="display: none")
									button.btn.btn-success.btn-block#accept(type="button", onclick="accept()")
										span.fa.fa-phone-square
									button.btn.btn-danger.btn-block#reject(type="button", onclick="reject()")
										span.fa.fa-close
							.col-sm-12
								#addToConferenceButtons(align="right", style="display: none")
									button.btn.btn-info.btn-block#addToConference(type="button", onclick="addToConference()")
										span.fa.fa-check-square
									button.btn.btn-warning.btn-block#reject(type="button", onclick="reject()")
										span.fa.fa-close
							.col-sm-12
								#endConference(align="right", style="display: none")
									button.btn.btn-danger.btn-block#hangupButton(type="button", onclick="endConference()")
										span.fa.fa-close
		.row#RecordingPlayer
			audio#thisPlayer(type="audio/mpeg")

	script(src='/js/controllers/home_controller.js')
	script(src='/js/views/home.js')
	script(src='/js/views/player.js')
	//script(src='/js/views/recordAudio.js')
